{% extends 'main/base.html' %} {% block navbar %}

<li class="m-3 hover:text-white">
  <a href="/" class="block relative p-2 hover:border-2 hover:rounded-[5px]">
    <span class="">
      <i class="fas fa-home block text-2xl"></i>
    </span>
    <span
      class="w-auto z-0 visible right-3 whitespace-nowrap px-[1rem] py-4 mt-10 font-ui-tabs"
      >Home
    </span>
  </a>
</li>
<li class="m-3 hover:text-white">
  <a href="about" class="block relative p-2 hover:border-2 hover:rounded-[5px]">
    <span class="">
      <i class="fas fa-user block text-2xl"></i>
    </span>
    <span
      class="w-auto z-0 visible right-3 whitespace-nowrap px-[1.3rem] py-4 mt-10 font-ui-tabs"
      >About Me
    </span>
  </a>
</li>
<li class="m-3 hover:text-white">
  <a
    href="resume"
    class="block relative p-2 hover:border-2 hover:rounded-[5px]"
  >
    <span class="">
      <!-- <i class="fas fa-university block text-2xl"></i> -->
      <i class="fas fa-graduation-cap text-2xl"></i>
    </span>
    <span
      class="w-auto z-0 visible right-3 whitespace-nowrap px-[1rem] py-4 mt-10 font-ui-tabs"
    >
      Resume
    </span>
  </a>
</li>
<li class="m-3 text-white">
  <a href="projects" class="block relative p-2 border-2 rounded-[5px]">
    <span class="">
      <i class="fas fa-code block text-2xl"></i>
    </span>
    <span
      class="w-auto z-0 visible right-3 whitespace-nowrap px-[1rem] py-4 mt-10 font-ui-tabs"
      >Projects
    </span>
  </a>
</li>
<li class="m-3 hover:text-white">
  <a
    href="contact"
    class="block relative p-2 hover:border-2 hover:rounded-[5px]"
  >
    <span class="">
      <i class="fas fa-address-book block text-2xl"></i>
    </span>
    <span
      class="w-auto z-0 visible right-3 whitespace-nowrap px-[1rem] py-4 mt-10 font-ui-tabs"
      >Contact
    </span>
  </a>
</li>
<li></li>

{% endblock navbar %} {% block projects %}
<section
  class="home-page bg-project-1 opacity-100 visible z-50 w-full h-screen laptop:max-w-[calc(100%_-_300px)] laptop:float-right p-[60px] overflow-y-auto"
>
  <div class="res-title inline-block relative pb-4 mb-4">
    <h2 class="relative z-[1] text-[2.5rem] font-common-heading">Projects</h2>
  </div>
  <div class="project-content">
    <div class="row flex flex-wrap">
      <div class="grow-0 shrink-0 basis-full">
        <!-- Portfolio grid -->
        <div
          class="portfolio-grid relative laptop:grid laptop:grid-cols-3 laptop:gap-8 sm:flex sm:flex-col sm:mx-auto sm:space-y-3 "
        >
          <!-- Block 1 -->
          {% for project in project.all %}
          <figure
            class="projects relative visible opacity-100 bg-slate-50 flex flex-col items-center w-[300px] border-2 border-solid border-black rounded-[0.4rem]"
          >
            <div class="m-2">
              <div class="portfolio-img">
                <img
                  class="proj-img w-[280px] h-[215px]"
                  src="{{ project.image.url }}"
                  alt=""
                />
              </div>
              <div class="tags my-[5px]">
                {% for tag in project.tags.all %}
                <span class="tag-section">
                  <h4
                    class="tag-display inline-block bg-blue-3 text-black rounded-[3px] px-[10px] py-[1px] my-[3px] mx-[2px] text-[13px] font-resume-skill-h"
                  >
                    {{ tag }}
                  </h4>
                </span>
                {% endfor %}
              </div>
              <h4
                class="oroject-title text-[1.3rem] my-[5px] truncate font-proj-tit"
              >
                {{ project.project_title }}
              </h4>
              <div class="btn-section flex flex-row justify-around my-2">
                <button
                  class="code-btn rounded-[1rem] border-2 border-solid border-black w-[7rem] h-[1.9rem] flex justify-center items-center bg-btnn-1 text-white hover:text-btnn-1 hover:bg-white font-resume-p-1"
                >
                  <a href="{{ project.github_urls }}" target="_blank">
                    View Code
                  </a>
                </button>
                <button
                  class="demo-btn rounded-[1rem] border-2 border-solid border-black w-[7rem] h-[1.9rem] flex justify-center items-center bg-btnn-1 text-white hover:text-btnn-1 hover:bg-white font-resume-p-1"
                >
                  <a href="{{ project.youtube_urls }}" target="_blank">
                    View Demo
                  </a>
                </button>
              </div>
            </div>
          </figure>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- nav btn sec -->
  <div
    class="nav-btn laptop:hidden flex flex-col border-[1px] p-2 items-center float-right rounded-[40px] border-solid border-black fixed right-8 bottom-4 ring-2 bg-slate-100"
  >
    <!-- Next btn -->
    <a href="contact">
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-[30px] w-[30px]"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z"
          />
        </svg>
      </button>
    </a>

    <!-- separate -->
    <div class="p-2"></div>

    <!-- Previous btn -->
    <a href="resume">
      <button class="prev-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-[30px] w-[30px]"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M8.445 14.832A1 1 0 0010 14v-2.798l5.445 3.63A1 1 0 0017 14V6a1 1 0 00-1.555-.832L10 8.798V6a1 1 0 00-1.555-.832l-6 4a1 1 0 000 1.664l6 4z"
          />
        </svg>
        <a href="/"></a>
      </button>
    </a>
  </div>
</section>
{% endblock projects %}
